{% extends 'main_site.html' %}

{% block exam%}

{% csrf_token %}
<div class="center-block" style="padding-top:35px">
    <div class="row">
    {% for topic in show_list_of_topics %}
        <div class="col-sm-6">
            <div class="well" style="height: auto">
                <h2><a href="{{topic.id}}/"> {{topic.topic_name}} </a></h2>
                <h5>{{topic.topic_description}}</h5>
                {% if username %}
                    {% if marks_list_user %}
                        {% for mark in marks_list_user %}
                            {% if mark.topic_id_id = topic.id %}
                                {% if topic.id %}
                                            <h5> You Result Of This Topic Is <b>{{ mark }}</b>.</h5>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    {% if add_topic %}
        <div>
            <p>{{ add_topic }}</p>
        </div>
        <form action="/exam/addtopic/" method="post" class="form-inline" role="form">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Topic name</span>
                <input type="text" class="form-control" name="topic_name" id="topic_name" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Short description</span>
                <input type="text" class="form-control" name="topic_description" id="topic_description" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Add Topic">
            </div>

            <div class="pull-right" style="padding-top:15px">
			    <p><span class="glyphicon glyphicon-copyright-mark"> </span> Made by GaBi.</p>
		    </div>

        </form>
    {% endif %}
</div>
{%endblock%}