{% extends 'main_site.html' %}

{% block exam%}

    {% if username %}
        <h2>{{show_topic.topic_name}}</h2>

        <form action='/exam/{{ show_topic.id }}/result/' method="post">
        {%csrf_token%}

            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    <p> <strong>{{ error_message }}</strong></p>
                </div>
            {% endif %}

            {% if show_questions %}

                <h5>Maximum Mark For This Topic Is  <b>{{max_mark_of_topic}}</b>. Good Luck!</h5>
                {% for question in show_questions %}
                    <table class="table">
                        <thead>
                            <tr class="success">
                                <th><b>{{question.question_text}}</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="info">
                            <td>{% for answers in answers_list%}
                                {% for answer in answers %}
                                    {% if answer.question_id_id = question.id %}
                                        <div>
                                            <input type="checkbox" name="answer" id="answer{{forloop.counter}}" value="{{answer.id}}"/>
                                            <label for="answer{{forloop.counter}}">{{answer.answer_text}}</label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
                <div>
                    <input type="submit" value="Check" class="btn btn-large btn-block btn-primary">
                </div>
            {% else %}
                    <div class="alert alert-danger" role="alert">
                        <p><strong>Thank You for visiting, but currently there are no questions of this topic.</strong></p>
                    </div>
            {% endif %}
        </form>

    {% else %}
            <div class="alert alert-danger">
                <h3><strong> Please, Log in and try again! </strong></h3>
            </div>
    {% endif %}

{%endblock%}

