{% extends 'main_site.html' %}

{% block login%}

    <div class="container">
        <div class="center-block" style="width:520px; padding-top:60px">
	        <form action="/user/login/" method="post" class="form-horizontal" role="form">
	            {% csrf_token %}

			    <div class="form-group">
		            <label class="control-label col-sm-2" for="username"> Username: </label>
				    <div class="col-sm-10">
				         <input type="text" class="form-control" name="username" id="username" required>
				    </div>
			    </div>

			    <div class="form-group">
				    <label class="control-label col-sm-2" for="password"> Password: </label>
				    <div class="col-sm-10">
		                <input type="password" class="form-control" name="password" id="password" required>
				    </div>
			    </div>

		        {% if login_error %}
			       <p><h2><label class="error">{{ login_error }}</label></h2></p>
		        {% endif %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
		                <input type="submit" class="btn btn-primary btn-block" value="Log in">
                    </div>
                </div>
			</form>
        </div>
	</div>

{%endblock%}